/* Layout */

.wrapper,
.gallery {
	margin: auto;
}

.gallery {
	width: 980px;
	padding-top: 80px;
}

/* Search box */

header {
	text-align: center;
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

header form input {
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	width: 460px;
	height: 30px;
}

[placeholder] {
	text-align: left;
	font-size: 16pt;
	font-weight: 200;
	font-family: "Source Code Pro";
}

/* Images */

.gallery figure {
	display: inline;
}

.gallery figure a {
	text-decoration: none;
}

.gallery figure a img {
	height: 180px;
	width: 180px;
	padding: 30px;
	margin: 0;
}

.gallery figcaption {
	font-family: "Source Code Pro";
	display: none;
}

/* Lightbox */




